<!DOCTYPE HTML>
<!--
	Tessellate by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
	<title>SACAC</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <%=stylesheet_link_tag "main" %>
	<link rel="stylesheet" href="../ESCC/app/assets/css/main.css" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
		crossorigin="anonymous"></script>
</head>

<body class="is-preload">
	<nav class="navbar navbar-light navbar-expand-lg bg-body-tertiary">
		<div class=" container-fluid">
			<a class="navbar-brand test" width="50" height="50" font-family="monospace" href="#"> ESCC</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mx-auto ">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="#">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Events</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Login</a>
					</li>

				</ul>

			</div>
		</div>
	</nav>

	<!-- Header -->
	<section id="header" class="content dark style2">
		<header>
			<h1>Somali Art And Culture Association Of Canada</h1>
			<p>Edmonton,Alberta T5H3Y4</p>
			<p>Email:fowzia084@gmail.com</p>
			<p>Hours: 1:00PM-5:00PM</p>
		</header>
	</section>

	<!-- First -->
	<section id="first" class="main">
		<header>
			<div class="container">
				<h2>Who we are</h2>
				<p>A Non Profit organization serving as a hub for Somali Community Activities and celeberating Somali
					Culture. Founded in 2021 By Fowzia Hersi Abdi Along with fellow community members.The 
					Somali Art And Culture Association of Canada Centre is the home of traditional Somali arts in Edmonton. We are a Non
					Profit organization offering educational programs about Somali traditional culture that are not
					offered anywhere else. The Somali Art And Culture Association of Canada Centre offers an unrivaled opportunity for
					Edmontonians of all backgrounds to encounter and learn about Somali traditional culture. </p>
			</div>
		</header>
		<!--
		<div class="content dark style1 featured">
			<div class="container">
				<div class="row">
					<div class="col-4 col-12-narrow">
						<section>
							 <span class="feature-icon"><span class="icon fa-clock"></span></span> 
							<header>
								<h3>Gravida</h3>
							</header>
							<p>Gravida dis placerat lectus ante vel nunc euismod est turpis sodales.
								Diam tempor dui lacinia accumsan vivamus. Gravida dis placerat lectus
								ante vel nunc euismod est turpis sodales. Diam tempor dui lacinia
								accumsan vivamus.</p>
						</section>
					</div>
					<div class="col-4 col-12-narrow">
						<section>
							<span class="feature-icon"><span class="icon solid fa-bolt"></span></span>
							<header>
								<h3>Vivamus</h3>
							</header>
							<p>Gravida dis placerat lectus ante vel nunc euismod est turpis sodales.
								Diam tempor dui lacinia accumsan vivamus. Gravida dis placerat lectus
								ante vel nunc euismod est turpis sodales. Diam tempor dui lacinia
								accumsan vivamus.</p>
						</section>
					</div>
					<div class="col-4 col-12-narrow">
						<section>
							<span class="feature-icon"><span class="icon solid fa-cloud"></span></span>
							<header>
								<h3>Accumsan</h3>
							</header>
							<p>Gravida dis placerat lectus ante vel nunc euismod est turpis sodales.
								Diam tempor dui lacinia accumsan vivamus. Gravida dis placerat lectus
								ante vel nunc euismod est turpis sodales. Diam tempor dui lacinia
								accumsan vivamus.</p>
						</section>
					</div>
					<div class="col-12">
						<footer>
							<a href="#second" class="button scrolly">Gravida tempor lacinia</a>
						</footer>
						
					</div>
				</div>
			</div>
		</div>
		-->
	</section>

	<!-- Second -->
	<section id="second" class="main">
		<!--
		<header>
			<div class="container">
				<h2>Euismod sed feugiat lorem tempus magna</h2>
				<p>Gravida dis placerat lectus ante vel nunc euismod eget ornare varius gravida euismod lorem ipsum
					dolor sit amet consequat<br />
					feugiat. Gravida dis placerat lectus ante vel nunc euismod eget ornare varius gravida euismod lorem
					ipsum dolor sit amet.</p>
			</div>
		</header>
		-->
		<div class="content dark style2">
			<div class="container">
				<div class="row">
					<div class="col-4 col-12-narrow">
						<section>
							<h3>Somali Culture</h3>
							<p>Immigrant populations in Edmonton must explore and craft the ways they will carry their
								culture forward as they build their community in Canada. The Somali Art And Culture Association of Canada Centre is
								your resource for educating yourself and training your colleagues about the rich
								heritage of Edmonton's Somali community.</p>
							<p>Future events include fashion shows, Tours Showcasing Somali Artifacts Along with Somali
								Nomadic Items. </p>
							<footer>

							</footer>
						</section>
					</div>
					<div class="col-8 col-12-narrow">
						<div class="row">
							<div class="col-6"><a href="#" class="image fit">
                            <%= image_tag "24dcd349-e8c7-4d8c-87b1-65eab9d77682.JPG", class:"", alt: "" %></a>
                            
							</div>
							<div class="col-6"><a href="#" class="image fit">
                            <%= image_tag "0e64ccc2-be04-4a30-a6c8-f208640a64b7.JPG", class:"", alt: "" %></a>
                            
                            
							</div>
							<div class="col-6"><a href="#" class="image fit">
                            <%= image_tag "1b5cacaa-9010-4766-bfdd-2438e9b3e80f 3.JPG", class:"", alt: "" %>
                            <img
										src="images/1b5cacaa-9010-4766-bfdd-2438e9b3e80f 3.JPG" alt="" /></a>
							</div>
							<div class="col-6"><a href="#" class="image fit">
                            <%= image_tag "ef9e4b65-c6aa-41c6-8bc1-03cfd048d639 2.JPG", class:"", alt: "" %>
                            </a>
							</div>
							<!--
							<div class="col-6"><a href="#" class="image fit"><img
										src="images/f3c388d4-c908-479e-9437-bf9fe4f94934.JPG" alt="" /></a>
							</div>
							<div class="col-6"><a href="#" class="image fit"><img
										src="images/fb04e708-e607-4731-843a-c5a93a1c0844 2.JPG" alt="" /></a>
							</div>
							<div class="col-6"><a href="#" class="image fit"><img
										src="images/5195f7c4-d7cd-4a36-a676-2151af8d75d8.JPG" alt="" /></a>
							</div>
							<div class="col-6"><a href="#" class="image fit"><img
										src="images/6177ae37-c233-42c4-ae8d-e015ff251da6.JPG" alt="" /></a>
							</div>
							-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>




	<!-- Third -->

	<!--
	<section id="third" class="main">
		<header>
			<div class="container">
				<h2>Mission</h2>
				<p>The Edmonton Somali Culture Centre is the home of traditional Somali arts in Edmonton. We are a Non
					Profit organization offering educational programs about Somali traditional culture that are not
					offered anywhere else. The Edmonton Somali Culture Centre offers an unrivaled opportunity for
					Edmontonians of all backgrounds to encounter and learn about Somali traditional culture. </p>
			</div>
		</header>
		<div class="content dark style3">
			<div class="container">
				<span class="image featured"><img src="images/header3.jpg" alt="" /></span>
				<div class="row">
					<div class="col-4 col-12-narrow">
						<h3>Diam vivamus turpis lorem sodales lectus ornare</h3>
						<p>Gravida dis placerat lectus ante vel nunc euismod est turpis sodales. Diam
							tempor dui lacinia eget ornare varius gravida. Gravida dis placerat lectus ante
							vel nunc euismod est turpis sodales. Diam tempor dui lacinia accumsan vivamus
							augue cubilia vivamus nisi eu eget ornare varius gravida euismod. Gravida dis
							lorem ipsum dolor placerat magna tempus feugiat.</p>
						<p>Lectus ante vel nunc euismod est turpis sodales. Diam tempor dui lacinia
							accumsan vivamus augue cubilia vivamus nisi eu eget ornare varius gravida dolore
							euismod lorem ipsum dolor sit amet consequat. vivamus nisi eu eget ornare varius
							gravida dolore euismod lorem ipsum dolor sit amet consequat. vivamus nisi eu
							eget ornare et magna.</p>
					</div>
					<div class="col-4 col-12-narrow">
						<p>Gravida dis placerat lectus ante vel nunc euismod est turpis sodales. Diam
							tempor dui lacinia eget ornare varius gravida. Gravida dis placerat lectus ante
							vel nunc euismod est turpis sodales. Diam tempor dui lacinia accumsan vivamus
							augue cubilia vivamus nisi eu eget ornare varius gravida euismod. Gravida dis
							lorem ipsum dolor placerat magna tempus feugiat.</p>
						<p>Lectus ante vel nunc euismod est turpis sodales. Diam tempor dui lacinia
							accumsan vivamus augue cubilia vivamus nisi eu eget ornare varius gravida dolore
							euismod lorem ipsum dolor sit amet consequat eget ornare varius gravida euismod.
							Gravida dis lorem ipsum dolor placerat magna tempus feugiat magna tempus lorem.</p>
						<p>Lectus ante vel nunc euismod est turpis sodales. Diam tempor dui lacinia
							accumsan vivamus augue cubilia.</p>
					</div>
					<div class="col-4 col-12-narrow">
						<p>Placerat lectus ante vel nunc euismod est turpis sodales. Diam tempor dui
							lacinia eget ornare varius gravida. Gravida dis placerat lectus ante vel nunc
							euismod est turpis sodales. Diam tempor dui lacinia accumsan vivamus augue
							cubilia vivamus nisi eu eget ornare varius gravida euismod. Gravida dis
							lorem ipsum dolor placerat magna tempus feugiat. Lectus ante vel nunc euismod
							est turpis sodales. Diam tempor dui lacinia dolore.</p>
						<p>Accumsan vivamus augue cubilia vivamus nisi eu eget ornare varius gravida
							dolore euismod lorem ipsum dolor sit amet conseismod lorem ipsum dolor sit amet
							consequat lorem ipsum consequat feugiat sed tempus euismod feugiat veroeros.</p>
						<footer>
							<a href="#fourth" class="button scrolly">Ipsum ornare lorem dolor</a>
						</footer>
					</div>
				</div>
			</div>
		</div>
	</section>
	-->

	<!-- Basic Elements -->
	<!--
			<section class="main">
				<header>
					<div class="container">
						<h2>A Whole Lotta Elements</h2>
						<p>General purpose elements for every general purpose. Or something like that.</p>
					</div>
				</header>
				<div class="content style1 dark">
					<div class="container">
						<section>
							<header>
								<h3>Paragraph</h3>
								<p>This is a byline</p>
							</header>
							<p>Phasellus nisl nisl, varius id <sup>porttitor sed pellentesque</sup> ac orci. Pellentesque
							habitant <strong>strong</strong> tristique <b>bold</b> et netus <i>italic</i> malesuada <em>emphasized</em> ac turpis egestas. Morbi
							leo suscipit ut. Praesent <sub>id turpis vitae</sub> turpis pretium ultricies. Vestibulum sit
							amet risus elit.</p>
						</section>
						<section>
							<header>
								<h3>Blockquote</h3>
							</header>
							<blockquote>Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget.
							tempus euismod. Vestibulum ante ipsum primis in faucibus. Cras sit amet urna eros, id egestas
							tempus ante ipsum primis in faucibus orci luctus et ultrices.</blockquote>
						</section>
						<section>
							<header>
								<h3>Divider</h3>
							</header>
							<p>Donec consectetur <a href="#">vestibulum dolor et pulvinar</a>. Etiam vel felis enim, at viverra
							ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel. Praesent nec orci
							facilisis leo magna. Cras sit amet urna eros, id egestas urna. Quisque aliquam
							tempus euismod. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
							posuere cubilia.</p>
							<hr />
							<p>Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra
							ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel. Praesent nec orci
							facilisis leo magna. Cras sit amet urna eros, id egestas urna. Quisque aliquam
							tempus euismod. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
							posuere cubilia.</p>
						</section>
						<section>
							<header>
								<h3>Unordered List</h3>
							</header>
							<ul class="default">
								<li>Donec consectetur vestibulum dolor et vel felis enim at viverra ligula. Ut porttitor sagittis lorem.</li>
								<li>Donec consectetur vestibulum dolor et vel felis enim at viverra ligula. Ut porttitor sagittis lorem.</li>
								<li>Donec consectetur vestibulum dolor et vel felis enim at viverra ligula. Ut porttitor sagittis lorem.</li>
								<li>Donec consectetur vestibulum dolor et vel felis enim at viverra ligula. Ut porttitor sagittis lorem.</li>
							</ul>
						</section>
						<section>
							<header>
								<h3>Ordered List</h3>
							</header>
							<ol class="default">
								<li>Donec consectetur vestibulum dolor et vel felis enim at viverra ligula. Ut porttitor sagittis lorem.</li>
								<li>Donec consectetur vestibulum dolor et vel felis enim at viverra ligula. Ut porttitor sagittis lorem.</li>
								<li>Donec consectetur vestibulum dolor et vel felis enim at viverra ligula. Ut porttitor sagittis lorem.</li>
								<li>Donec consectetur vestibulum dolor et vel felis enim at viverra ligula. Ut porttitor sagittis lorem.</li>
							</ol>
						</section>
						<section>
							<header>
								<h3>Table</h3>
							</header>
							<div class="table-wrapper">
								<table class="default">
									<thead>
										<tr>
											<th>ID</th>
											<th>Name</th>
											<th>Description</th>
											<th>Price</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>00001</td>
											<td>Lorem ipsum dolor</td>
											<td>Ut porttitor sagittis lorem quis nisi ornare.</td>
											<td>29.99</td>
										</tr>
										<tr>
											<td>00002</td>
											<td>Sit amet nullam</td>
											<td>Ut porttitor sagittis lorem quis nisi ornare.</td>
											<td>19.99</td>
										</tr>
										<tr>
											<td>00003</td>
											<td>Feugiat felis viverra</td>
											<td>Ut porttitor sagittis lorem quis nisi ornare.</td>
											<td>29.99</td>
										</tr>
										<tr>
											<td>00004</td>
											<td>Sagittis enim felis</td>
											<td>Ut porttitor sagittis lorem quis nisi ornare.</td>
											<td>19.99</td>
										</tr>
										<tr>
											<td>00005</td>
											<td>Nullam sed vestibulum</td>
											<td>Ut porttitor sagittis lorem quis nisi ornare.</td>
											<td>19.99</td>
										</tr>
									</tbody>
									<tfoot>
										<tr>
											<td colspan="3"></td>
											<td>100.00</td>
										</tr>
									</tfoot>
								</table>
							</div>
						</section>
						<section>
							<header>
								<h3>Form</h3>
							</header>
							<form method="post" action="#">
								<div class="row gtr-50">
									<div class="col-6 col-12-narrow">
										<input type="text" name="name" id="name" value="" placeholder="John Doe" />
									</div>
									<div class="col-6 col-12-narrow">
										<input type="text" name="email" id="email" value="" placeholder="johndoe@domain.tld" />
									</div>
									<div class="col-12">
										<div class="select" tabindex="-1">
											<select name="department" id="department">
												<option value="">Choose a department</option>
												<option value="1">Manufacturing</option>
												<option value="2">Administration</option>
												<option value="3">Support</option>
											</select>
										</div>
									</div>
									<div class="col-12">
										<input type="text" name="subject" id="subject" value="" placeholder="Enter your subject" />
									</div>
									<div class="col-12">
										<textarea name="message" id="message" placeholder="Enter your message"></textarea>
									</div>
									<div class="col-12">
										<ul class="actions">
											<li><input type="submit" class="button" value="Send Message" /></li>
											<li><input type="reset" class="button alt" value="Clear Form" /></li>
										</ul>
									</div>
								</div>
							</form>
						</section>
					</div>
				</div>
			</section>
		-->

	<!-- Fourth -->
	<section id="fourth" class="main">
		<header>
			<div class="container">
				<h2>Contact Us!</h2>
				<p>For more information and events feel free to contact us using the form below<br />
				</p>
			</div>
		</header>
		<div class="content style4 featured">
			<div class="container medium">
				<form method="post" action="#">
					<div class="row gtr-50">
						<div class="col-6 col-12-mobile"><input type="text" placeholder="Name" /></div>
						<div class="col-6 col-12-mobile"><input type="text" placeholder="Email" /></div>
						<div class="col-12"><textarea name="message" placeholder="Message"></textarea></div>
						<div class="col-12">
							<ul class="actions special">
								<li><input type="submit" class="button" value="Send Message" /></li>
								<li><input type="reset" class="button alt" value="Clear Form" /></li>
							</ul>
						</div>
					</div>
				</form>
			</div>
		</div>
	</section>

	<!-- Footer -->
	<section id="footer">
		<!---
		<ul class="icons">
			<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
			<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
			<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
			<li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
			<li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
		</ul>
		
	-->
		<div class="copyright">
			<ul class="menu">
				<li>&copy;All rights reserved.</li>
				<li>
					<p>Somali Art And Culture Association of Canada Centre</p>
				</li>


				<li>
					<p>10607 111 St Edmonton, Alberta</p>
				</li>



			</ul>
		</div>
	</section>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.scrolly.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>

</html>